flows/step2.json
[{"id":"bfc16e1.75d219","type":"tab","label":"Step2. Dashboard","disabled":false,"info":""},{"id":"28f6835e.0dbdac","type":"ui_button","z":"bfc16e1.75d219","name":"takeoff","group":"18ca2e23.c9ccd2","order":1,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":280,"wires":[["e8a2ded4.dccaa"]]},{"id":"e8a2ded4.dccaa","type":"takeoff","z":"bfc16e1.75d219","name":"","x":310,"y":280,"wires":[[]]},{"id":"b6c32ced.775fb","type":"land","z":"bfc16e1.75d219","name":"","x":310,"y":340,"wires":[[]]},{"id":"4c44d624.fdd128","type":"ui_button","z":"bfc16e1.75d219","name":"land","group":"18ca2e23.c9ccd2","order":2,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"flight_land","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":340,"wires":[["b6c32ced.775fb"]]},{"id":"4ffc0db0.fb5c74","type":"ui_gauge","z":"bfc16e1.75d219","name":"","group":"3a10775.f106488","order":0,"width":0,"height":0,"gtype":"donut","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#c62a2a","#e6e600","#00b500"],"seg1":"","seg2":"","x":520,"y":100,"wires":[]},{"id":"58aec78a.6339a8","type":"inject","z":"bfc16e1.75d219","name":"Ask Battery","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["336460f9.869b2","fa544336.16407"]]},{"id":"fa544336.16407","type":"state","z":"bfc16e1.75d219","name":"","command":"battery?","x":350,"y":100,"wires":[["4ffc0db0.fb5c74"]]},{"id":"c6dd79a0.ba8658","type":"up","z":"bfc16e1.75d219","name":"","distance":"","x":310,"y":400,"wires":[[]]},{"id":"d7073d51.944cf","type":"ui_button","z":"bfc16e1.75d219","name":"up","group":"18ca2e23.c9ccd2","order":2,"width":"0","height":"0","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"call_made","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":130,"y":400,"wires":[["c6dd79a0.ba8658"]]},{"id":"2b36cf1a.bae22","type":"ui_button","z":"bfc16e1.75d219","name":"down","group":"18ca2e23.c9ccd2","order":2,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"call_received","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":130,"y":460,"wires":[["14c58e42.c6e282"]]},{"id":"14c58e42.c6e282","type":"down","z":"bfc16e1.75d219","name":"","distance":"","x":310,"y":460,"wires":[[]]},{"id":"90150432.3f3b88","type":"ui_button","z":"bfc16e1.75d219","name":"forward","group":"18ca2e23.c9ccd2","order":2,"width":"0","height":"0","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_up","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":520,"wires":[["ebb2cab2.eacab8"]]},{"id":"8f2b35.c1d794c8","type":"ui_button","z":"bfc16e1.75d219","name":"left","group":"18ca2e23.c9ccd2","order":2,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":130,"y":580,"wires":[["14b0a.d73b84f63"]]},{"id":"b8e20d46.37079","type":"ui_button","z":"bfc16e1.75d219","name":"right","group":"18ca2e23.c9ccd2","order":2,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":130,"y":640,"wires":[["5bd76f2a.70ea2"]]},{"id":"9db4d9e0.f40778","type":"ui_button","z":"bfc16e1.75d219","name":"backward","group":"18ca2e23.c9ccd2","order":2,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_down","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":700,"wires":[["a4b40a61.0164c8"]]},{"id":"ebb2cab2.eacab8","type":"forward","z":"bfc16e1.75d219","name":"","distance":"","x":340,"y":520,"wires":[[]]},{"id":"14b0a.d73b84f63","type":"left","z":"bfc16e1.75d219","name":"","distance":"","x":340,"y":580,"wires":[[]]},{"id":"5bd76f2a.70ea2","type":"right","z":"bfc16e1.75d219","name":"","distance":"","x":340,"y":640,"wires":[[]]},{"id":"a4b40a61.0164c8","type":"back","z":"bfc16e1.75d219","name":"","distance":"","x":340,"y":700,"wires":[[]]},{"id":"5cc31e93.793b7","type":"ui_chart","z":"bfc16e1.75d219","name":"","group":"3a10775.f106488","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"90","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":160,"wires":[[]]},{"id":"6a2adfe.a94b82","type":"state","z":"bfc16e1.75d219","name":"","command":"temp?","x":270,"y":160,"wires":[["7b50d6f9.2a38e8"]]},{"id":"336460f9.869b2","type":"delay","z":"bfc16e1.75d219","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":160,"wires":[["6a2adfe.a94b82"]]},{"id":"7b50d6f9.2a38e8","type":"function","z":"bfc16e1.75d219","name":"","func":"var temps = msg.payload.replace(/[^0-9]/g, '');\nvar lowTemp = Number(temps.substr(0, 2));\nvar highTemp = Number(temps.substr(2, 4));\nmsg.payload = (lowTemp + highTemp) / 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":160,"wires":[["5cc31e93.793b7"]]},{"id":"b7c33b59.6a1958","type":"comment","z":"bfc16e1.75d219","name":"Controller","info":"","x":100,"y":220,"wires":[]},{"id":"ff75ca6c.aaab88","type":"comment","z":"bfc16e1.75d219","name":"Monitor","info":"","x":90,"y":40,"wires":[]},{"id":"18ca2e23.c9ccd2","type":"ui_group","name":"Controller","tab":"c9722117.b9314","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a10775.f106488","type":"ui_group","name":"Monitor","tab":"c9722117.b9314","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9722117.b9314","type":"ui_tab","name":"Tello Dashboard","icon":"dashboard","disabled":false,"hidden":false}]