flows/step1.json
[{"id":"2623b10c.31e12e","type":"tab","label":"Step1. Sample Flight","disabled":false,"info":""},{"id":"13affba4.ee7334","type":"inject","z":"2623b10c.31e12e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["d727c749.e25328"]]},{"id":"37bb6c1.a598094","type":"delay","z":"2623b10c.31e12e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":160,"wires":[["af7ff76d.8f9a98"]]},{"id":"d727c749.e25328","type":"takeoff","z":"2623b10c.31e12e","name":"","x":290,"y":100,"wires":[["37bb6c1.a598094"]]},{"id":"af7ff76d.8f9a98","type":"land","z":"2623b10c.31e12e","name":"","x":270,"y":160,"wires":[["b629463b.e3fd28"]]},{"id":"b629463b.e3fd28","type":"debug","z":"2623b10c.31e12e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":160,"wires":[]}]
